.nav-bar {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2em;
    background-color: rgb(39, 39, 39);
    color: white;
    
    a {
        text-decoration: none;
        color: white;
    }
}